body{
    background-color: #8959A8;
    text-align: center;
    color: white;
    margin: 0;
}
.article{
    border:3px solid #803717;
    width: 350px;
    background-color: black;
    margin-top: 15px;
}
a,
h1,p{
    color: #803717;
}
.articles{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header,ul,footer{
    color: #803717;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    height: 30vh;
}
img{
    width: 150px;
}
ul {
    width: 400px;
    list-style-type: none;
    font-size: 25px;
}
main {
    background-image: url("../img/fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    padding-top: 20px;
}
footer{
    padding-bottom: 25px;
}

