<main>
    Bienvenue sur l'admin ! Vous pouvez gerer ici vos auteurs et vos livres
</main>
<aside>
    <a href="{{ path('admin_books') }}">livres</a>
    <a href="{{ path('admin_authors') }}">auteurs</a>
</aside>