{% extends 'admin/base.html.twig' %}
{% block content %}
    <div class = "article">
        <h1>{{ books.title|upper}}</h1>
        <p>Auteur : {{ books.author|upper }}</p>
        <p>Résumé : {{ books.resume }}</p>
        <p>{{ books.nbPages }}</p>
    </div>
{% endblock %}

