{% extends 'base.html.twig' %}
{% block content %}
    <h1>{{ books.title|upper}}</h1>
    <p>{{ books.author|upper }}</p>
    <p>Résumé : {{ books.resume }}</p>
    <p>{{ books.nbPages }}</p>
{% endblock %}

